@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


::selection {
  user-select: none;
}




.hide {
  /* display: none; */
  position: relative;

}

.myServiceImages:hover::after {
  content: "ddddddddddd";
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background-color: red;
  text-align: center;
  color: red;

}

/* .myServiceImages:hover+.hide {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  color: red;
  text-align: center;

} */